.container{
    position: absolute;
    top:0;
    left:10%;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.silver{
    
    border-radius: 4px;
    border: 10px solid transparent;
    
}