.container{
    position: absolute;
    top:0;
    left:10%;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.silver{
    background-color: silver;
    border-radius: 50%;
    
}
.new{
    transform: scale(1.5,1.5);
    background-color: green;
    opacity: 1;
}
